# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\UCL053368\OneDrive - University College London\Documents_pc\University\2nd_yr\COMP0016\Pyramid Rendering\COMP0016-Pyramid_Rendering_3D\COMP0016_2020_21_Team3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
